.detalhe__posts{
    display: flex;
    flex-direction: column;

}

.detalhe__posts h2{
    font-size: 22px;
    padding-bottom: 0.5rem;
    text-decoration: underline;
}
.detalhe__posts h3{
    font-size:17px;
    padding-bottom: 0.5rem;
}

.detalhe__posts p{
    font-size:14px;
    padding-bottom: 0.5rem;

}

.detalhe__usuario{
    align-items: center;
    border-bottom: 1px solid #fff;
    display: flex;
    gap: 0.4rem;
}

.detalhe__usuario h2,h3{
    font-size: 13px;
    margin-top: 0.5rem;
    padding-bottom: 0.7rem;
}

.titulo__comentarios h2{
    font-size: 18px;
    margin-top: 1rem;
    
}

.conteiner__comentarios{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

}

.img__email__user{
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}

.img__email__user h3{
    padding-bottom: 0.3rem;
}

